:root{
  --primary-color: #80deea;
  --primary-color-light: #b4ffff;
  --primary-color-dark: #4bacb8;
  --secondary-color: #fff;
  --accent-color: #0277bd;
  --accent-color-light: #58a5f0;
  --accent-color-dark: #004c8c;
  --text-color: #000;
  --text-color-dark: #000;
  --text-color-light: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  background-color: var(--primary-color, #39796b);
  font-family: sans-serif;
}

.score {
  color: var(--text-color, white);
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.score h2 {
  font-size: 1.9em;
}
.score p {
  text-align: center;
  padding: 10px;
  font-size: 2em;
}

.intro {
  color: var(--text-color, white);
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.5s ease;
}
.intro h1 {
  font-size: 3em;
}
.intro button, .match button {
  padding: 1em 2.5em;
  background: var(--accent-color, #004d40);
  border: none;
  color: var(--text-color-light, white);
  border-radius: 0.3em;
  cursor: pointer;
  transition: background 0.4s ease;
}
.intro button:hover, .match button:hover {
  background: var(--accent-color-dark, #00251a);
}

.match {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease 0.5s;
}
.winner {
  color: var(--text-color, white);
  text-align: center;
  font-size: 3em;
  margin-top: 2em;
}

.hands, .options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-hand {
  transform: rotateY(180deg);
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

@keyframes shakePlayer {
  0% {
    transform: rotateY(180deg) translateY(0px);
  }
  15% {
    transform: rotateY(180deg) translateY(50px);
  }
  25% {
    transform: rotateY(180deg) translateY(0px);
  }
  35% {
    transform: rotateY(180deg) translateY(50px);
  }
  50% {
    transform: rotateY(180deg) translateY(0px);
  }
  65% {
    transform: rotateY(180deg) translateY(50px);
  }
  75% {
    transform: rotateY(180deg) translateY(0px);
  }
  85% {
    transform: rotateY(180deg) translateY(50px);
  }
  100% {
    transform: rotateY(180deg) translateY(0px);
  }
}

@keyframes shakeComputer {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(50px);
  }
  25% {
    transform: translateY(0px);
  }
  35% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(50px);
  }
  75% {
    transform: translateY(0px);
  }
  85% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}